.custom-button {
  width: max-content;
  max-width: 260px;
  margin: 0 0 25px 0;
  padding: 5px;
  background-color: rgb(70, 0, 128);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-button a {
  text-decoration: none;
  color: inherit; /* Para heredar el color del texto del botón */
}
/* checkbox */

.ancho{
  width: 367px;
}

input#file-upload-button{
  background-color: green;
}

.custom-img {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 250px;
}

.blues{
  margin: 0 auto;
  width: 75rem;
  padding: 15px;
  border: 5px solid rgba(58, 6, 86, 0.301);
  margin-top: 20px;
  }


  .custom-button2 {
    width: max-content;
    max-width: 600px;
    margin: 0 0 25px 0;
    padding: 15px;
    background-color: rgb(70, 0, 128);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size:  large;
  }
